.login-page-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.login-page-navbar-interactive {
  width: 100%;
  height: 60px;
  display: flex;
  position: relative;
  align-items: flex-start;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
}
.login-page-desktop-menu {
  flex: 1;
  right: var(--dl-space-space-fourunits);
  bottom: 0px;
  display: flex;
  position: absolute;
  align-self: center;
  align-items: flex-start;
  justify-content: flex-end;
}
.login-page-home {
  align-self: center;
  padding-right: var(--dl-space-space-threeunits);
}
.login-page-about-inc {
  font-size: 16px;
  align-self: center;
  padding-right: var(--dl-space-space-threeunits);
}
.login-page-services {
  cursor: pointer;
  display: inline-block;
  position: relative;
  align-self: center;
  border-radius: var(--dl-radius-radius-radius2);
  padding-right: var(--dl-space-space-threeunits);
}
.login-page-serv {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  padding-top: 0px;
  padding-left: 0px;
  border-radius: var(--dl-radius-radius-radius2);
  padding-right: 0px;
  padding-bottom: 0px;
  justify-content: flex-start;
}
.login-page-text {
  color: rgb(0, 0, 0);
  font-size: 16px;
  font-style: normal;
  text-align: left;
  font-weight: 400;
  margin-right: 4px;
  padding-right: 1px;
  vertical-align: middle;
}
.login-page-dropdown-arrow {
  transition: 0.3s;
}
.login-page-icon {
  width: 18px;
  height: 18px;
  transition: 0.3s;
}
.login-page-dropdown-list {
  left: 0%;
  width: max-content;
  display: none;
  z-index: 100;
  position: absolute;
  min-width: 100%;
  transition: 0.3s;
  align-items: stretch;
  border-color: #D9D9D9;
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius4);
  flex-direction: column;
  list-style-type: none;
  background-color: var(--dl-color-gray-white);
  list-style-position: inside;
}
.login-page-calender {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.login-page-dropdown-toggle {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.login-page-dropdown-toggle:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.login-page-calender1 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
.login-page-countdown {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.login-page-dropdown-toggle1 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.login-page-dropdown-toggle1:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.login-page-text01 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
.login-page-dropdown-arrow1 {
  position: relative;
  transition: 0.3s;
}
.login-page-icon02 {
  width: 18px;
  height: 18px;
  transition: 0.3s;
}
.login-page-dropdown-list1 {
  width: max-content;
  display: none;
  z-index: 100;
  position: absolute;
  min-width: 100%;
  transition: 0.3s;
  align-items: stretch;
  border-color: #D9D9D9;
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius4);
  flex-direction: column;
  list-style-type: none;
  background-color: var(--dl-color-gray-white);
  list-style-position: inside;
}
.login-page-dropdown {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.login-page-dropdown-toggle2 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.login-page-dropdown-toggle2:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.login-page-text02 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
.login-page-dropdown1 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.login-page-dropdown-toggle3 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.login-page-dropdown-toggle3:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.login-page-text03 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
.login-page-dropdown2 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.login-page-dropdown-toggle4 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.login-page-dropdown-toggle4:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.login-page-text04 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
.login-page-discord {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.login-page-dropdown-toggle5 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.login-page-dropdown-toggle5:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.login-page-text05 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
.login-page-contact {
  align-self: center;
  padding-right: var(--dl-space-space-threeunits);
}
.login-page-buttons {
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.login-page-login {
  width: 98px;
  border-color: #f58c48;
  border-width: 2x;
  margin-right: var(--dl-space-space-twounits);
}
.login-page-register {
  border-width: 0px;
  background-color: rgb(245, 140, 72);
}
.login-page-burger-menu {
  display: none;
}
.login-page-icon04 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.login-page-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: 32px;
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
.login-page-nav {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.login-page-top {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.login-page-logo {
  height: 2rem;
}
.login-page-close-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
.login-page-icon06 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.login-page-links {
  flex: 0 0 auto;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
.login-page-text06 {
  margin-bottom: var(--dl-space-space-unit);
}
.login-page-text07 {
  margin-bottom: var(--dl-space-space-unit);
}
.login-page-text08 {
  margin-bottom: var(--dl-space-space-unit);
}
.login-page-text09 {
  margin-bottom: var(--dl-space-space-unit);
}
.login-page-text10 {
  margin-bottom: var(--dl-space-space-unit);
}
.login-page-buttons1 {
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.login-page-login1 {
  margin-right: var(--dl-space-space-twounits);
}
.login-page-icon08 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.login-page-icon10 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.login-page-icon12 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.login-page-login2 {
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  background-color: #f5f5f5ff;
}
.login-page-container1 {
  top: 76px;
  left: 42px;
  width: 1380px;
  height: 777px;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  position: absolute;
  max-width: var(--dl-size-size-maxwidth);
  align-items: flex-start;
  border-radius: var(--dl-radius-radius-radius8);
  justify-content: center;
}
.login-page-container2 {
  flex: 1;
  width: 444px;
  height: 613px;
  display: flex;
  max-width: 450px;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  margin-right: var(--dl-space-space-sixunits);
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-twounits);
  background-color: rgba(245, 140, 72, 0.61);
}
.login-page-container2:hover {
  transform: scale(1.02);
}
.login-page-text11 {
  margin: var(--dl-space-space-halfunit);
  font-size: 4rem;
  font-weight: 200;
}
.login-page-text12 {
  font-size: 1.5rem;
  margin-bottom: var(--dl-space-space-fourunits);
}
.login-page-text13 {
  align-self: flex-start;
  font-weight: 700;
  margin-left: var(--dl-space-space-threeunits);
  margin-bottom: var(--dl-space-space-unit);
}
.login-page-text15 {
  font-style: normal;
  font-weight: 400;
}
.login-page-textinput {
  width: 313px;
  height: 56px;
  border-width: 0px;
}
.login-page-text16 {
  align-self: flex-start;
  margin-top: var(--dl-space-space-twounits);
  margin-left: var(--dl-space-space-threeunits);
  margin-bottom: var(--dl-space-space-unit);
}
.login-page-text17 {
  font-weight: 700;
}
.login-page-textinput1 {
  width: 311px;
  height: 55px;
  border-width: 0px;
}
.login-page-button {
  color: var(--dl-color-gray-white);
  margin-top: auto;
  padding-top: var(--dl-space-space-unit);
  border-width: 0px;
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  padding-bottom: var(--dl-space-space-unit);
  background-color: var(--dl-color-gray-black);
}
.login-page-container3 {
  flex: 1;
  color: var(--dl-color-gray-white);
  height: 615px;
  display: flex;
  max-width: 480px;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-twounits);
  background-color: rgba(0, 0, 0, 0.43);
}
.login-page-container3:hover {
  transform: scale(1.02);
}
.login-page-text19 {
  margin: var(--dl-space-space-halfunit);
  font-size: 4rem;
  font-weight: 200;
}
.login-page-text20 {
  font-size: 1.5rem;
  margin-bottom: var(--dl-space-space-fourunits);
}
.login-page-text21 {
  align-self: flex-start;
  font-weight: 700;
  margin-left: 15px;
  margin-bottom: var(--dl-space-space-unit);
}
.login-page-text23 {
  font-style: normal;
  font-weight: 400;
}
.login-page-textinput2 {
  width: 313px;
  height: 56px;
  border-width: 0px;
}
.login-page-text24 {
  align-self: flex-start;
  margin-top: var(--dl-space-space-twounits);
  margin-left: 15px;
  margin-bottom: var(--dl-space-space-unit);
}
.login-page-text25 {
  font-weight: 700;
}
.login-page-textinput3 {
  width: 311px;
  height: 55px;
  border-width: 0px;
}
.login-page-button1 {
  color: var(--dl-color-gray-white);
  margin-top: auto;
  padding-top: var(--dl-space-space-unit);
  border-width: 0px;
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  padding-bottom: var(--dl-space-space-unit);
  background-color: var(--dl-color-gray-black);
}
@media(max-width: 991px) {
  .login-page-container1 {
    align-items: center;
    flex-direction: column;
  }
}
@media(max-width: 767px) {
  .login-page-navbar-interactive {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .login-page-desktop-menu {
    display: none;
  }
  .login-page-burger-menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .login-page-text06 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .login-page-text07 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .login-page-text08 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .login-page-text09 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .login-page-text10 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .login-page-container1 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .login-page-container2 {
    width: 100%;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-twounits);
  }
  .login-page-container3 {
    width: 100%;
  }
}
@media(max-width: 479px) {
  .login-page-navbar-interactive {
    padding: var(--dl-space-space-unit);
  }
  .login-page-mobile-menu {
    padding: 16px;
  }
  .login-page-container1 {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
}
